<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="http://localhost:4000/release/location/add" target="Thank you for your business! We look forward to working with you again">
    
    <label>Name</label>
    <input type="text" name="name" id="name" value="" required/>
    
    <label>Status</label>
    <input type="number" name="status" id="status" value="" required/>
    
    
    <input type="submit" name="submit" id="submit" value="Submit"/>
    </form>
</body>
</html>
      